// Form Elements
//
// Base form elements.
//
// Markup: form_html.twig
//
// Weight: 50
//
// Style guide: atom.form_common

//Form item -- wrapper
.form-item {
  margin-bottom: 30px;

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    margin-bottom: 0;
    width: 100%;
  }
}

form {
  margin: 0 0 1em;
}

label {
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 0 0 0.1875em;
  padding-right: 4px;
  vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: $white;
  border: 1px solid $lighter-gray;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-size: 1rem;
  height: 64px;
  line-height: 2.875;
  margin: 0 0 1em;
  padding: 0.5rem rem-calc(20px);
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  width: auto;
}

//line height override for textarea
textarea {
  line-height: 2.8;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  //box-shadow: 0 0 5px $light-gray;
  background: $white;
  border-color: $black;
  outline: none;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}

input[type="file"] {
  width: 100%;
}

fieldset {
  border: solid 1px $light-gray;
  margin: 1.125em 0;
  padding: 1.25em;
}

fieldset legend {
  background: #fff;
  font-weight: bold;
  margin: 0;
  margin-left: -0.1875em;
  padding: 0 0.1875em;
}

// Error conditions ////////////////////////////
.error {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    border-color: $error-red;
    margin-bottom: 0;

    &:focus {
      border-color: $black;
    }
  }
}

.error input:focus,
.error textarea:focus,
.error select:focus {
  background: $off-white;
  border-color: $light-gray;
}

.error label,
.error label.error {
  color: $error-red;
}

.error > small,
.error small.error {
  background: $error-red;
  color: #fff;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0.375em 0.25em;
}

.error span.error-message {
  color: $error-red;
  display: block;
  font-size: 14px;
  font-size: rem-calc(14px);
  line-height: 1;
  margin-top: 10px;
  padding: 0 20px;
}

input.error,
textarea.error {
  background-color: rgba(198, 15, 19, 0.1);
  border-color: $error-red;
  margin-bottom: 0;
}

input.error:focus,
textarea.error:focus {
  background: $off-white;
  border-color: $light-gray;
}

.error select {
  background-color: rgba(198, 15, 19, 0.1);
  border-color: $error-red;
}

.error select:focus {
  background: $off-white;
  border-color: $light-gray;
}

label.error {
  color: $error-red;
}
// HTML5 Form Elements
//
// Markup: form_html5.twig
//
// Weight: 51
//
// Style guide: atom.html5
form input[disabled],
form button[disabled] {
  background-color: $light-gray;
  box-shadow: none;

  &:hover {
    background-color: $light-gray;
  }
}
// simple transitions ////////////////////
form button,
form input {
  transition: all 0.3s ease;

  &[disabled] {
    transition: auto;
  }
}

// Placeholder Color
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $greyed-out;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $greyed-out;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $greyed-out;
}

:-moz-placeholder { /* Firefox 18- */
  color: $greyed-out;
}

.js input.form-autocomplete {
  background: $white;
}
