// Base HTML Elements.
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: $footer-background-color;
}

body {
  background: $white;
  color: $black;
  font-family: $body_font;
  font-size: 1em;
  line-height: 1.6;
}

// Base Headings
//
// Markup: headlines.twig
//
// Weight: 0
//
// Style guide: atom.headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: $heading_font;
  padding: 0 0 0.3em;
  margin: 0;
}

h1 {
  font-family: $muli;
  font-size: 60px;
  font-size: rem-calc(60px);
  line-height: 1.1;
  font-weight: 700;
  padding-bottom: 10px;

  span {
    font-weight: 500;
  }

  @media all and (max-width: 767px) {
    font-size: 32px;
    font-size: rem-calc(32px);
  }
}

h2 {
  font-family: $muli;
  font-size: $header2;
  font-size: rem-calc($header2);
  font-weight: 700;
  line-height: 1.2;

  &.small {
    font-size: $header2-small;
    font-size: rem-calc($header2-small);
  }
}

h3 {
  $h3-line-height: 1.45;
  $h3-font-size: 32px;

  font-size: $h3-font-size;
  font-size: rem-calc($h3-font-size);
  line-height: 1.45;

  //Vertically align first child with top of content
  &:first-child {
    margin-top: (0 - ((1.45 * $h3-font-size) - $h3-font-size)) / 2;
  }

  @media all and (max-width: 767px) {
    font-size: 24px;
    font-size: rem-calc(24px);
  }
}

h4 {
  font-size: 28px;
  font-size: rem-calc(28px);
  line-height: 1.45;
}

h5 {
  font-size: 24px;
  font-size: rem-calc(24px);
  line-height: 1.45;
}

h6 {
  font-size: 21px;
  font-size: rem-calc(21px);
  line-height: 1.45;
}

p {
  &.small {
    font-size: 14px;
    font-size: rem-calc(14px);
    line-height: 1.2;
  }

  &.extra-small {
    font-size: 12px;
    font-size: rem-calc(12px);
    line-height: 1.2;
  }
}

body .menu-item {
  padding-top: 0;
  margin: 0;
}
// Base Text
//
// Markup: text.twig
//
// Weight: 1
//
// Style guide: atom.text

body p {
  margin: 0 0 10px;
}

// Responsive Images
img,
svg {
  max-width: 100%;
  height: auto;
}

//Reduce fuzziness of downscaled images
img {
  @include crisp-edges();
}

// Address
address {
  font-style: normal;

  .phone-number {
    margin-top: 20px;

    a {
      &::before {
        height: 0;
      }

      &:hover::before {
        height: 1px;
      }
    }
  }
}

// Blockquote & Pre
//
// Markup: blockquote.twig
//
// Weight: 2
//
// Style guide: atom.blockquote
blockquote {
  padding: 0 15px 0 35px;
  font-family: $adamina;
  font-size: 20px;
  font-size: rem-calc(20px);
  line-height: 1.4;
  margin: 0;
  position: relative;

  .bq--quotation-mark {
    font-size: 60px;
    font-size: rem-calc(60px);
  }

  .bq--quotation-mark--left {
    left: 0;
    line-height: 1;
    position: absolute;
    top: 5px;
  }

  .bq--quotation-mark--right {
    height: 24px;
    line-height: 0;
    position: relative;
    top: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + .signature {
    padding: 10px 0 0 35px;
  }
}

.field--name-field-article-body {
  p + blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;

  code {
    border: 1px dotted $dark-gray;
    background: $off-white;
    padding: 2px 9px;
    display: block;
    font-size: 85%;
  }
}
// List Types
//
// Markup: lists.twig
//
// Weight: 3
//
// Style guide: atom.lists

// OL items
ol {
  padding: 0 0 0 10px;
  margin: 0 0 10px;

  li {
    margin: 4px 0;
    padding: 0;
  }
}

ol ol {
  padding: 0 0 0 22.5px;
}

ol ol ol {
  padding: 0 0 0 22.5px;
}

// UL items
ul {
  padding: 0 0 0 10px;
  margin: 0 0 10px;

  li {
    margin: 4px 0;
    padding: 0;
  }
}

ul ul {
  padding: 0 0 0 22.5px;
}

ul ul ul {
  padding: 0 0 0 22.5px;
}
// Tables
//
// Markup: table.twig
//
// Weight: 4
//
// Style guide: atom.table
table {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    background-color: $off-white;
    padding: 4px 5px;
  }

  td {
    border: 0;
    outline: none;
    padding: 4px 5px;
  }

  thead {
    border: 1px solid $off-white;
    border-bottom: 0;
  }

  tbody {
    border: 1px solid $off-white;
  }

  tbody tr:nth-child(even) {
    background-color: $off-white;
    border-top: 1px solid $off-white;
    border-bottom: 1px solid $off-white;
  }
}

hr {
  border: 0;
  border-top: 1px solid $light-blue3;
}

.hidden {
  display: none;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }

  .body-text-small p {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 768px + 1px) {
  blockquote {
    font-size: 24px;
    font-size: rem-calc(24px);
  }

  .text-right--md {
    text-align: right;
  }

  .text-center--md {
    text-align: center;
  }

  .hidden-lg {
    display: none;
  }

  .body-text-small p {
    font-size: 0.9em;
  }
}
