//Overlay Colors
$overlay-blue: rgba(81, 130, 195, 0.5);
$overlay-green: rgba(48, 173, 101, 0.5);
$overlay-darken: rgba(0, 0, 0, 0.25);

.overlay {
  background: none;
  color: $white;
  height: 100%;
  position: absolute; //parent item must have position: relative
  width: 100%;
  //z-index: -1;

  .expand-button {
    border-color: $white;
    position: absolute;
    top: 25px;
    right: 25px;

    &::before,
    &::after {
      background: $white;
    }
  }
}

.overlay--darken {
  background: $overlay-darken;

  @extend .overlay;
}

.overlay--green {
  background: $overlay-green;

  @extend .overlay;
}
