{#Intro section#}
<section class="text-section">
  <div class="flex-container">
    <div class="span9">
      <h3>Better health. Better coverage. Better together.</h3>
      <p>Texas Health Resources and UT Southwestern are forming and integrated health care network, Southwestern Resources, which enables each organization to complement its current services with the resources of the other to better serve patients in North Texas.</p>
    </div>
    <div class="span3" style="text-align: center;"><img src="kss-assets/real_badge.png" alt="Best Regional Hospitals"></div>
  </div>
</section>
{#Body Copy and Venn Diagram#}
<section class="text-section">
  <div class="flex-container">
    <div class="span3">
      <h3>Coming together for the best possible care.</h3>
      <p>Joining our high performance network means working alongside exceptional primary care physicians and specialists as well as working with a nationally recognized medical research facility focused on groundbreaking medical innovations.</p>
      <p>Interested in joining our team? Fill out this form for more information</p>
    </div>
    <div class="span9" style="text-align: center;"><img src="kss-assets/venn-diagram.png" alt=""></div>
  </div>
</section>
{#Map Section#}
{% include 'components/location_section.twig' %}
<section>
  <h3 style="text-align: center;">The journey to better health starts here.</h3>
</section>
{% include 'components/fact_accordion.twig' %}
<section>
  <h3 style="text-align: center;">Spotlight on our Providers</h3>
</section>
<section class="text-section">
  <div class="flex-container">
    <div class="span6">
      Video
    </div>
    <div class="span6">
      <h3>Southwestern Health Resources selects Dr. Bradley Lega as Clinical Scholars grant recipient</h3>
      <p>Texas Health Resources and UT Southwestern are forming and integrated health care network, Southwestern Resources, which enables each organization to complement its current services with the resources of the other to better serve patients in North Texas.</p>
      <a href="" class="more-link">See More</a>
    </div>
  </div>
</section>