<div class="header--bkgrnd" style="background-image: url('../templates/styleguide/components/header/assets/aco-performance.png');">
  <div class="overlay--image"></div>
  <div class="header__container center-vertically">
    <div class="content">
      <h1>
        ACO Performance Results
      </h1>
    </div>
  </div>
</div>