<section class="full-width bg-lightblue">
  <div class="pad-40"></div>
  <div class="container flex-container">
    <div class="span12">
      <h3>Excellence is part of who we are.</h3>
      <p>
        As one of the pioneer participants in the CMS ACO program, the Southwestern Health Resources ACN has maintained a 95 percent or better Quality Score since launching in 2014 while saving:
      </p>
    </div>
  </div>
  <div class="pad-40"></div>
  <div class="container flex-container">
    <div class="span4">
      {% include 'callout_box.twig' with { background_color: '#30ad65', bg_copy: '2014', body_copy: 'Over $6 million in<br/>2014, resulting in<br/>$2.9 million in<br/>shared savings' } %}
      <div class="pad-15--sm"></div>
    </div>
    <div class="span4">
      {% include 'callout_box.twig' with { background_image: 'kss-assets/bg-gray-grid.png', body_copy: 'Nearly $30 million in<br/>2015, resulting in<br/>more than $14 million in<br/>shared savings' } %}
      <div class="pad-15--sm"></div>
    </div>
    <div class="span4">
      {% include 'callout_box.twig' with { background_color: '#5182c3', bg_copy: '2016', body_copy: 'Over $37 million in<br/>2016, resulting in<br/>more than<br/>$17.4 million in<br/>shared savings' } %}
    </div>
  </div>
  <div class="pad-40"></div>
  <div class="container flex-container">
    <div class="span12">
      <h5>Improving costs, care and quality over time. </h5>
      <p>
        During this period, quality scores improved 5 percent among established measures and 13 percent on preventative measures.
      </p>
    </div>
  </div>
  <div class="pad-40"></div>
</section>
