<section>
  <div class="pad-40"></div>
  <div class="flex-container">
    <div class="span12">
      <h3>$73 Million Saved: Our History of Success.</h3>
      <p>
        Southwestern Health Resources has saved millions since participating in Medicare Shared Savings Program. 
      </p>
    </div>
    <div class="pad-40"></div>
    <div class="success-timeline">
      <div class="line"></div>
      <div class="arrow-sm"></div>
      {% include 'timeline_year.twig' with { year: '2013', body_copy: 'ACO infrastructure formed' } %}
      {% include 'timeline_year.twig' with { year: '2014', body_copy: '6th largest MSSP ACO in U.S.<ul><li>$30 million in savings</li><li>$14.5 million in revenue</li><li>Top quartile in overall quality scores</li></ul>' } %}
      {% include 'timeline_year.twig' with { year: '2015', body_copy: 'cow' } %}
      {% include 'timeline_year.twig' with { year: '2016', body_copy: 'wow' } %}
    </div>
    <div class="pad-20"></div>
    <div class="pad-40"></div>
    <div class="span12">
      <h5>2015 Quality Measures</h5>
    </div>
    <div class="pad-20"></div>
    <div class="span4">
      {% include 'quality_measure.twig' with { percentile: '92', color: '#5182c3', tag: 'ACO40', title: 'Depression', body: 'Remission after a period of 12 Months' } %}      
    </div>
    <div class="span4">
      {% include 'quality_measure.twig' with { percentile: '89', color: '#30ad65', tag: 'ACO40', title: 'Depression', body: 'Angiotensin-Converting Enzyme (ACE) Inhibitor or Angiotensin Receptor Blocker (ARB) Therapy for patients with CAD and Diabetes or Left Ventricular Systolic Dysfunction (LVEF <40%)' } %}      
    </div>
    <div class="span4">
      {% include 'quality_measure.twig' with { percentile: '84', color: '#30ad65', tag: 'ACO40', title: 'Ischemic Vascular Diseases', body: 'Angiotensin-Converting Enzyme' } %}      
    </div>
    <div class="span4">
      {% include 'quality_measure.twig' with { percentile: '84', color: '#30ad65', tag: 'ACO40', title: 'Depression', body: 'Angiotensin-Converting Enzyme (ACE) Inhibitor or Angiotensin Receptor Blocker (ARB) Therapy for patients with CAD and Diabetes or Left Ventricular Systolic Dysfunction (LVEF <40%)' } %}      
    </div>
    <div class="span4">
      {% include 'quality_measure.twig' with { percentile: '78', color: '#5182c3', tag: 'ACO40', title: 'Depression', body: 'Angiotensin-Converting Enzyme (ACE) Inhibitor or Angiotensin Receptor Blocker (ARB) Therapy for patients with CAD and Diabetes or Left Ventricular Systolic Dysfunction (LVEF <40%)' } %}      
    </div>
    <div class="span4"></div>
  </div>
</section>