<section class="text-section">
  <div class="flex-container">
    <div class="span12">
      <h3>Providing everyone with every kind of care.</h3>
      <div class="pad-20"></div>
    </div>
    <div class="span6">
      <p>
        Based on financial performance and quality, we are recognized as one of the top 10 ACOs in the United States serving Medicare beneficiaries. More specifically, we are number 8 out of more than 600 ACOs, located throughout the country, and the top performer in Texas.
      </p>
      <p>
        Our Accountable Care Network (ACN) has saved the Centers for Medicare &amp; Medicaid Services (CMS) more than $73 million over the past three years, including over $37 million in 2016, while maintaining top tier Quality Scores. The ACN manages care for nearly 87,500 Medicare beneficiaries one of the largest patient populations managed by an ACO in the state.
      </p>
    </div>
    <div class="span6" style="text-align: center;"><img src="kss-assets/nurse-patient.png" alt="Norse with patient"></div>
  </div>
</section>