<div class="timeline-year">
  <span class="year">{{ year }}</span>
  <span class="dot"></span>
  <div class="body">
    <span class="arrow"></span>
    <div>
      {{ body_copy | raw}}
    </div>
  </div>
</div>