

.image-set {
  img {
    display: none;
  }

  img:first-child {
    display: block;
    image-rendering: optimizequality;
  }

  &.mobile-image-768 {
    @media all and (max-width: 768px) {
      img:first-child {
        display: none;
      }

      img:nth-child(2) {
        display: block;
      }
    }
  }
}
