// Expand Button
//
// This animated button opens and closes fact components
//
// Weight: 55
//
// Markup: expand_button.twig
//
// Style guide: atom.expand_button
$expand-button-size: 26px;
$expand-button-line-width: 2px;

.expand-button {
  border: solid 2px $dark-gray;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: block;
  position: relative;
  width: $expand-button-size;
  height: $expand-button-size;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $dark-gray;
    //transition: transform 0.25s ease-out;
  }

  /* Vertical line */
  &::before {
    top: 20%;
    left: 50%;
    width: $expand-button-line-width;
    height: 60%;
    margin-left: 0 - ($expand-button-line-width / 2);
  }

  /* horizontal line */
  &::after {
    top: 50%;
    left: 20%;
    width: 60%;
    height: $expand-button-line-width;
    margin-top: 0 - ($expand-button-line-width / 2);
  }

  &.opened {

    &::before { transform: rotate(90deg); }
    &::after { transform: rotate(180deg); }
  }
}
