

.stat__number {
  font-size: 90px;
  font-size: rem-calc(90px);
  font-weight: 800;
  line-height: 1;
  margin-bottom: 7px;
}

.stat__number--blue {
  color: $blue;

  @extend .stat__number;
}

.stat__number--green {
  color: $green;

  @extend .stat__number;
}

.stat__number--light-green {
  color: $light-green;

  @extend .stat__number;
}

.stat__label {
  font-size: 21px;
  font-size: rem-calc(21px);
  font-weight: 700;
  line-height: 1.2;
}

//Responsive Stats
@media all and (max-width: 905px) {
  .stat__number {
    font-size: 75px;
    font-size: rem-calc(75px);
  }
}

@media all and (max-width: 650px) {
  .stat__number {
    font-size: 60px;
    font-size: rem-calc(60px);
  }
}

@media all and (max-width: 400px) {
  .stat__number {
    font-size: 48px;
    font-size: rem-calc(48px);
  }
}
