.location--section {
  @include dark();

  position: relative;

  a {
    display: inline-block;
  }

  .container {
    align-items: center;
    min-height: 385px;

    .view-content {
      & > div:not(.views-row-last) {
        margin-bottom: 10px;
      }

      & > div {
        & > div > a strong {
          font-size: 22px;
          font-size: rem-calc(22px);
        }

        &.views-row-last:first-child > div > a strong {
          font-size: 30px;
          font-size: rem-calc(30px);
        }
      }
    }
  }

  .gm-style-iw {
    .location-title {
      font-size: 1.3em;

      a {
        color: $black;
      }
    }

    .location-content {
      color: $link-blue;
      font-size: 1em;
      font-weight: 400;

      // Format the name and address fields

      [class*='views-field-field-phys'] {
        margin-right: 3px;
      }

      [class*='views-field-field-address-address-line'] {
        display: block;
      }

      .views-field-field-address-locality::after {
        content: ', ';
      }

      .views-field-field-address-administrative-area {
        margin-right: 3px;
      }
    }
  }
}

.content-bottom .location--section {
  padding: 0;
}

.location--section__left {
  padding: 40px 0;

  .view-content {
    max-height: 328px;
    overflow: auto;
  }

  .link--forward,
  .link--forward:link,
  .link--forward:visited {
    color: $white;

    &::before {
      background: $white;
    }
  }

  .button-group {
    justify-content: flex-start;
    margin-top: 30px;

    button,
    .button,
    a.button {
      //width: 195px;
    }
  }
}

.location--section__left {
  .medical-staff__links {
    display: block;
  }
}

.location--section__right {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

//Responsive

@media screen and (max-width: 768px) {
  .node--type-medical-staff {
    .sidebar {
      .field--name-field-location-address {
        display: none;
      }
    }
  }

  .location--section {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .location--section__left {
    padding: 40px 0 20px;
    margin-left: 20px;
    margin-right: 20px;

    .view-content {
      max-height: 100%;
    }
  }

  .location--section__right {
    height: 250px;
    position: relative;
    bottom: -10px;

    .geolocation-common-map-container {
      height: 250px !important;
    }
  }
}
