//Placeholder Style for Styleguide Home Page Example
$map-section-height: 544px;
$map-section-height-sm: 430px;

.content-area .map-section {
  @include dark();
}

#map-section {
  padding: 0;
  margin-top: 40px;
}

.map-section {
  position: relative;
  overflow: hidden;

  h3 {
    font-family: $muli;
    font-weight: 600;
    font-size: 40px;
    font-size: rem-calc(40px);
    line-height: 1.15;
  }

  .container {
    position: relative;
  }

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    & > div {
      &:nth-child(2) {
        margin-right: 10px;
      }
    }
  }

  .form-item-specialty-location {
    flex-grow: 0.5;
  }

  button.search {
    height: 64px;
    padding: 0 16px;
    float: right;

    i {
      font-size: 30px;
      font-size: rem-calc(30px);
      line-height: 1;
    }
  }
}

.map-section--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 66px 40px 0;
  box-sizing: border-box;
  width: 60%;

  p {
    margin-bottom: 34px;
  }
}

@media all and (min-width: 769px) {
  .map-section--left {
    height: 544px;
  }
}

.map-section--left__wrapper {
  max-width: 618px;
}

.map-section--right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: $map-section-height;
  left: 60%;
  justify-content: center;
  position: absolute;
  padding: 51px 0 51px 113px;
  top: 0;

  .stat {
    margin-bottom: 20px;
    width: 270px;
  }
}

.map-section__bkgrnd {
  height: 100%;
  max-width: 3000px;
  position: absolute;
  width: 100%;
  z-index: 0;

  &.parallax-container {
    position: absolute;
    height: $map-section-height;
  }
}

.map-section__bkgrnd--right {
  //Image Natural Width
  width: 567px;
  height: 100%;
  right: 0;
  margin-left: 60%;

  &.parallax {
    z-index: 1;
  }

  img {
    width: auto;
  }
}

@media all and (min-width: 768px + 1px) {
  .map-section {
    .form-item {
      padding-bottom: 0;
    }
  }

  .map-section--right {
    width: 567px;
  }
}

@media all and (max-width: 1160px) {
  .map-section--right {
    padding-left: 50px;
  }
}

@media all and (max-width: 768px) {
  #map-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  .map-section {
    max-width: 567px;

    .flex-container {
      display: block;
    }

    .form-item {
      margin-bottom: 10px;
    }

    .form-item-specialty-location {
      width: 100%;
    }

    .form-item-zipcode {
      flex-grow: 0.9;
    }
  }

  .map-section__bkgrnd {
    bottom: 0;

    &.parallax-container {
      height: $map-section-height-sm;
    }
  }

  .map-section__bkgrnd--right {
    max-width: 760px;
    width: 100%;
    height: $map-section-height-sm;

    &.parallax {
      margin: 0 auto;
    }
  }

  .map-section--left {
    margin: 0 auto;
    padding: 40px 0 0;
    width: 100%;

    p {
      margin-bottom: 30px;
    }

    h6 {
      margin-top: 10px;
    }
  }

  .map-section--right {
    align-items: center;
    position: relative;
    left: 0;
    height: $map-section-height-sm;
    margin: 0 auto;
    padding: 75px 25px 25px;
  }
}

@media all and (max-width: 975px) {
  .map-section {
    form {
      & > div {
        &:nth-child(1) {
          width: 100%;
          flex-grow: 1;
        }

        &:nth-child(2) {
          flex-grow: 1;
          margin-right: 10px;
        }
      }
    }
  }
}

@media all and (min-width: 975px + 1px) {
  .map-section {
    form {
      & > div {
        &:nth-child(1) {
          flex-grow: 0.7;
          margin-right: 10px;
        }

        &:nth-child(2) {
          flex-grow: 0.3;
        }
      }
    }
  }
}
