<div class="header--bkgrnd" style="background-image: url('../templates/styleguide/components/header/assets/doc-profile-header.jpg');">
  <div class="header__container--darktext">
    <div class="content">
      <h1>
        Carla Bagely, M.D.
      </h1>
      <div class="doctor-header">
        <div class="doctor-header__title">
          Complex Spine Surgery Specialist in Dallas
        </div>
        <div class="doctor-header__affiliation">
          UT Southwestern Medical Center
        </div>
        <div class="button-group">
          <a class="button--secondary" href="">Schedule Appointment</a>
        </div>
        <div class="link-group">
          <a href="" class="more-link">Add to Contacts</a>
          <a href="" class="more-link">Share This</a>
        </div>
      </div>
    </div>
  </div>
</div>