<section class="container content-top">
  <a class="link--back" href="">Back to Search</a>
</section>
<div class="container sidebar-right">
    {% include 'components/doctor_main.twig' %}
    {% include 'components/doctor_sidebar.twig' %}
</div>
{% include 'components/location_section.twig' %}
{% include 'components/doctor_list.twig' %}