{#
/**
 * @file
 * Display an underline link wrapper.
 *
 * Available variables:
 * - text: The wrapper interior.
 */
#}
{% if text %}
  <span class="underline-link--hidden">{{ text }}</span>
{% endif %}
