<div class="header--bkgrnd" style="background-image: url('../templates/styleguide/components/header/assets/location-page-header.jpg');">
  <div class="header__container">
    <div class="content">
      <h5>We are an</h5>
      <h1>
        Integrated Health<br>
        Network
      </h1>
    </div>
  </div>
</div>