// Fact Box
//
// An expandable box with additional info text
//
// Markup: fact_box.twig
//
// .fact_box--green - Secondary card style
//
// Weight: 2
//
// Style guide: molecule.fact_box
$fact-box-sm-height: 275px;
$fact-box-lg-height: 385px;

.fact-box {
  @include font-aliasing();

  background-position: 50% 50%;
  background-size: cover;
  color: $white;
  height: $fact-box-lg-height;
  width: span(6);
  overflow: hidden;
  position: absolute;
  z-index: 0;

  &:hover {
    cursor: pointer;
  }

  .content {
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: $fact-box-lg-height;
    padding: 35px;

    &.text-center {
      align-items: center;
      justify-content: center;
    }
  }

  h2 {
    font-size: 24px;
    font-size: rem-calc(24px);
  }

  h3 {
    font-family: $muli;
    font-size: 14px;
    font-size: rem-calc(14px);
    font-weight: 700;
    text-transform: uppercase;
  }

  //h5 for leadership team content
  h5 {
    font-family: $muli;
    line-height: 1;
    padding: 0;
  }

  img {
    max-width: 220px;
  }

  .card {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .drawer {
    background: $gray;
    color: $black;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    transition-timing-function: ease-out;
    transition-property: all;
    transition-duration: 0.4s;
    width: 100%;
    z-index: -1;
    padding-left: 0;

    .expand-button {
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 10;
    }

    .drawer__content {
      background: $gray;
      box-sizing: border-box;
      height: 100%;
      padding: 20px 70px 20px 20px;
      position: relative;
      overflow-y: auto;

      p {
        align-self: center;
      }
    }
  }
}

.fact-box--left {
  left: 0;

  @extend .fact-box;
}

.fact-box--right {
  right: 0;

  @extend .fact-box;
}

.fact-box__background {
  //background-size: cover;
  //background-position: 50% 50%;
  height: 100%;
  position: absolute;
  top: 0;
  //transition-timing-function: ease-in;
  //transition-property: all;
  //transition-duration: 0.4s;
  width: 100%;
}

.fb-bkgrnd--initial {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition-timing-function: ease-in;
  transition-property: all;
  transition-duration: 0.4s;
}

.fb-bkgrnd--expanded {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition-timing-function: ease-in;
  transition-property: all;
  transition-duration: 0.4s;
  opacity: 0;
}

.fact-box:hover,
.fact-box.expanded {
  .fb-bkgrnd--initial.single-image {
    transform: scale(1.1);
    transition-timing-function: ease-out;
  }

  .fb-bkgrnd--expanded {
    opacity: 1;
  }
}

//fact-box Layouts
//2 Column (Default)
.fact-box-container {
  position: relative;
  height: $fact-box-lg-height;
  width: 100%;

  section {
    position: relative;
  }

  & + .fact-box-container {
    margin-top: 20px;
  }

  .fact-box {
    width: span(6);
  }
}

// Expanded State

.fact-box.expanded {
  overflow: visible;
  z-index: 1;

  //.fact-box__background.expand {
  //  opacity: 0;
  //}
  //
  //.fact-box__background--expanded {
  //  opacity: 1;
  //}

  .expand-button {
    display: none;

    &.opened {
      display: block;
    }
  }

  .drawer {
    transform: translateX(96%);
    padding-left: 4%;
    transition-timing-function: ease-out;
    transition-property: all;
    transition-duration: 0.4s;
  }
}

.fact-box--right.expanded {
  .drawer {
    padding-left: 0;
    padding-right: 4%;
    transform: translateX(-100%);
  }
}

//Z-index class needs to stay
//until the closing animation
//finishes
.fact-box.z-index {
  overflow: visible;
  z-index: 1;
}

//Responsive breaks

@media all and (max-width: 1078px) {
  .drawer__content {
    font-size: 14px;
    font-size: rem-calc(14px);
    line-height: 1.6;
  }
}

@media all and (max-width: 768px) {
  .fact-box {
    margin: 0 auto;
    max-width: 560px;
    position: relative;
    height: $fact-box-sm-height;

    .content {
      height: $fact-box-sm-height;
      padding: 20px;
    }

    .drawer__content {
      @include persistent-mobile-scrollbar();
    }

    &--left {
      margin-bottom: 20px;
    }

    &--left,
    &--right {
      .drawer {
        z-index: 10;
        opacity: 0;
        transform: translateX(0);
        padding: 0;

        &__content {
          overflow: auto;
        }
      }

      &.expanded {
        .drawer {
          transform: translateX(0);
          padding: 0;
          opacity: 1;
        }
      }
    }
  }

  .fact-box-container {
    height: auto;

    .fact-box {
      width: 100%;
    }
  }
}

@media all and (min-width: 768px + 1px) {
  .fact-box--right.expanded {
    .drawer {
      .expand-button {
        right: auto;
        left: 25px;
      }

      .drawer__content {
        padding-left: 70px;
        padding-right: 20px;
      }
    }
  }
}

//Smaller font size for Leadership Team Content
.two-box--smalltext {
  .fact-box {
    .drawer__content {
      font-size: 15px;
      font-size: rem-calc(15px);
      line-height: 1.4;
    }
  }
}
