<section class="fact-box {{modifier_class}}" style="background-image: {% if modifier_class == '[modifier class]' %} url({{ background_image }}) {% else %} url({{ background_image_2 }}) {% endif %}">
  <div class="overlay">
    button.
    <div class="content">
      <h3>Get to Know</h3>
    </div>
  </div>
</section>