
//Button Bar

.button-bar {
  h6 {
    align-items: center;
    height: 100%;
    display: flex;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .button-bar {
    h6 {
      align-items: flex-start;
      margin-bottom: 30px;
    }
  }
}
