/*
// Primary Tabs
//
// Simple tabs styling.
//
// Markup: tabs.twig
//
// Style guide: molecule.tabs
*/
.block-tabs {
  margin: 1.5em 0;

  ul {
    border-bottom: 1px solid $light-gray;
    display: block;
    padding-left: 0;

    li {
      display: inline-block;

      a {
        margin: 0;
        padding: 0.4em;
        text-decoration: none;
      }
    }
  }
}
