{#Intro section#}
{% include 'components/intro_section.twig' %}
{#Partnership Section#}
{% include 'components/fact_boxes.twig' %}
{#Icons#}
{% include 'components/icon_bar.twig' %}
{#Map + Infographic #}
{% include 'components/map_section.twig' %}
{#Offerings#}
<section>
  <h3 style="text-align: center;">Southwestern Health Resources provides
  exceptional care and quality coverage at a great value.</h3>
</section>
{% include 'components/fact_accordion.twig' %}
<section>
  <h3 style="text-align: center;">What&rsquo;s more, an unmatched offering of services further sets us apart</h3>
</section>
{% include 'components/icon_bar_links.twig' %}
<section>
  <div class="button-group">
    <a href="" class="button--secondary">See how we can help you</a>
    <a href="" class="button icon-before"><i class="swhrcon-chat"></i>Talk to us</a>
  </div>
</section>