<section class="styleguide-icons">
  <h4>Small Icons</h4>
  <p>Small icons are provided as a custom icon font.</p>
  <i class="icon-icon-chevron-left"></i>
  <span class="icon-icon-chevron-right"></span>
  <span class="icon-icon-chat"></span>
  <span class="icon-icon-account"></span>
  <span class="icon-icon-search"></span>
  <span class="icon-icon-stethoscope"></span>
  <span class="icon-icon-clinic"></span>
  <span class="icon-icon-pills"></span>
  <span class="icon-icon-close"></span>
  <span class="icon-icon-chevron-down-small"></span>
  <span class="icon-icon-chevron-up-small"></span>
  <span class="icon-icon-doctor"></span>
  <span class="icon-icon-sliders"></span>
  <span class="icon-icon-checkmark"></span>
  <span class="icon-icon-home"></span>
  <span class="icon-icon-chevron-left-small"></span>
  <span class="icon-icon-chevron-right-small"></span>
  <span class="icon-icon-group"></span>
  <h4>Large Icons</h4>

  <h4>Large Icons - Multicolor</h4>
  <p>multicolor icons aren't supported by fonts and instead are served as images</p>
  <div class="flex-container">
    <div class="span4">
      <img src="kss-assets/icons/heart.png" alt="Medicinal Excellence">
    </div>
    <div class="span4">
      <img src="kss-assets/icons/clipboard.png" alt="Medicinal Excellence">
    </div>
    <div class="span4">
      <img src="kss-assets/icons/building.png" alt="Medicinal Excellence">
    </div>
  </div>
</section>


