// Button
//
// These are various button styles
//
// :hover   - Hover State
// .button--secondary - Secondary button style
// .button--secondary:hover - Secondary button hover
//
// Weight: 49
//
// Markup: button.twig
//
// Style guide: atom.button
button,
.button,
a.button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include font-aliasing();

  background: $button-primary-bkgrnd;
  border: solid 1px $button-primary-bkgrnd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: $button-primary-color;
  display: inline-block;
  font-size: 14px;
  font-size: rem-calc(14px);
  font-weight: 900;
  line-height: 1;
  padding: 23px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;

  &::before {
    content: normal;
    display: none;
  }

  &:hover {
    background: $white;
    color: $button-primary-bkgrnd;
    text-decoration: none;
  }
}
