
.doctor-list {
  @include font-aliasing();

  font-size: 21px;
  font-size: rem-calc(21px);
  line-height: 1.4;

  ul {
    list-style: none;
    padding-left: 44px;
  }

  li {
    margin-bottom: 25px;
  }

  a {
    color: $link-blue;

    &::before {
      height: 0;
    }

    &.active {
      color: $dark-gray;
    }
  }
}
