
//Hide dialog button pane for docfinder modal
.ui-dialog-buttonpane {
  display: none !important;
}

//Finder Form
.docfinder-form {
  .form-item {
    margin-bottom: 32px;
    padding-bottom: 0;
  }

  .form-field--search,
  .form-item-specialty-location {
    width: 20%;
  }

  .form-field--zip,
  .form-item-row1-zipcode {
    flex-grow: 1;
    width: 20%;
  }

  .form-submit {
    height: 64px;
    padding: 0;
    position: relative;
    width: 64px;
    margin-left: 16px;
  }
}

#edit-row2-left-side-caretype,
#caretype-wrapper {
  box-sizing: border-box;
  width: span(6);
  flex-grow: 1;
  max-width: 50%;
}

#edit-row2-left-side-caretype {
  display: flex;
  padding-right: 8px;
}

#caretype-wrapper {
  padding-left: 8px;
}

.docfinder-form__specialties {
  @include flex-container();

  margin-right: 16px;
  width: 66.6667%;

  .button-toggle {
    @include flex-container();

    height: 64px;
    flex-grow: 1;
    margin-right: 20px;

    button {
      background: transparent;
      border-color: $button-primary-bkgrnd;
      border-left: none;
      color: $button-primary-bkgrnd;
      width: 50%;

      &:first-child {
        border-left: solid 1px $button-primary-bkgrnd;
      }

      &:hover,
      &.active {
        background: $button-primary-bkgrnd;
        color: $white;
      }
    }
  }

  div.select-wrapper {
    width: 335px;
  }
}

.docfinder-form__dropdowns {
  width: span(6);
}

.docfinder-form__reset {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  height: 64px;

  a {
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      height: 0;
    }
  }
}

//Finder Window
.finder-window {
  @include flex-container();

  border: solid 1px $med-gray;
  height: 673px;
}

// Finder List
//---------------------------
.finder__list {
  background: $white;
  height: 673px;
  overflow-y: scroll;
  width: 35%;

  .views-element-container,
  .view {
    height: 100%;
  }

  .view {
    .view-empty {
      @include dark();

      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 35px;

      h5 {
        font-family: $muli;
        font-size: 38px;
        font-size: rem-calc(38px);
        font-weight: 700;
      }

      p {
        font-size: 18px;
        font-size: rem-calc(18px);
      }
    }
  }
}

.finder-item {
  border-bottom: solid 1px $med-gray;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-size: rem-calc(14px);
  line-height: 1.2;
  padding: 20px;

  .image {
    background: $light-gray;
    height: 80px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 80px;

    img {
      left: 0;
      position: absolute;
      //top: -25%;
      width: 100%;

      &.location-default-img {
        width: 35px;
        margin: 24px auto 0;
        position: static;
      }
    }

    .swhrcon-doctor {
      color: $border-gray;
      font-size: 35px;
      line-height: 80px;
    }
  }

  .info {
    flex-grow: 1;
    padding-right: 5px;
    width: 130px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.finder-item__title {
  font-size: 17px;
  font-size: rem-calc(17px);
  font-weight: 700;
  margin-bottom: 5px;
}

.finder-item__links {
  font-size: 14px;
  line-height: 1.2;

  a {
    color: $link-blue;

    &::before {
      content: normal;
      display: none;
      height: 0;
    }
  }
}

.finder-item__number {
  color: $white;
  height: 30px;
  text-align: center;
  width: 19px;

  span {
    display: block;
    margin-top: 3px;
  }
}

.finder-item.medical_staff {
  .finder-item__number {
    background: url('/themes/custom/swhr/images/doc-finder/pin-blue--small.png') no-repeat scroll 0 0;
  }
}

.finder-item.location {
  .finder-item__number {
    background: url('/themes/custom/swhr/images/doc-finder/pin-green--small.png') no-repeat scroll 0 0;
  }
}

//Empty List
.view-physician-search-results {
  .view-empty {
    @include dark();

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 35px;

    h5 {
      font-family: $muli;
      font-size: 38px;
      font-size: rem-calc(38px);
      font-weight: 700;
    }

    p {
      font-size: 18px;
      font-size: rem-calc(18px);
    }
  }
}

//Map
//------------------------------
.finder__map {
  width: 65%;
  height: 673px;
  overflow: hidden;

  &.empty {
    width: 100%;
  }

  #map {
    height: 100%;
  }
}

// Page Version (no Popup)
//------------------------------
.path--services-locator,
.path--docfinder {
  background: $footer-background-color;

  .region-content {
    padding-top: 62px;
  }
}

.docfinder-form.full-search-form {
  .form-item-row1-str {
    margin-right: 16px;
    width: 66.6667%;
  }

  .docfinder-form__specialties {
    #edit-row2-left-side-caretype {
      //flex-grow: 1;
    }

    div.select-wrapper,
    .form-type-select {
      //width: 335px;
    }
  }
}

.services-locator__header {
  .modal-logo {
    flex-grow: 1;
    position: static;
    top: auto;
    width: 80%;
  }
}

.services-locator__header {
  padding-bottom: 66px;

  .close-button a {
    background: url('/themes/custom/swhr/images/modal-close.png') 0 0 no-repeat;
    display: block;
    font-size: 0;
    height: 22px;
    width: 22px;

    &:hover {
      cursor: pointer;
    }
  }

  @media all and (max-width: 871px) {
    padding-bottom: 25px;
  }
}

#full-search-form #edit-submit {
  padding: 15px 17px;
}

#edit-row2-left-side-caretype-specialist,
#edit-row2-left-side-caretype-primary {
  display: none;
  visibility: hidden;
}

#edit-row2-left-side-caretype {
  .form-item {
    width: 50%;

    label {
      @include font-aliasing();

      background: $white;
      border: solid 1px $button-primary-bkgrnd;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      box-sizing: border-box;
      color: $button-primary-bkgrnd;
      display: inline-block;
      font-size: 14px;
      font-size: rem-calc(14px);
      line-height: 1;
      padding: 23px 5px;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      width: 100%;

      &:hover {
        background: $button-primary-bkgrnd;
        color: $white;
      }
    }

    input:checked + label {
      background: $button-primary-bkgrnd;
      color: $white;
    }

    &:first-child label {
      border-right: none;
    }
  }
}

#full-search-form input:focus + label {
  border: 1px dotted #000;
}

.map-section input.error {
  background-color: white;
}

.map-section .form-item--error-message {
  color: red;
  position: absolute;
}

#edit-zipcode-error {
  position: absolute;
}

#inline-form-error {
  color: red;
  font-weight: bold;
  position: absolute;
  left: 0;
}

//Docfinder Pager
.doc-finder__pager {
  font-family: $adamina;
  font-size: 18px;

  .pager__items {
    display: flex;
    padding: 0;
    margin: 25px 0 0;
  }

  .pager__item {
    display: none;
    margin: 0;
    position: relative;
    top: -13px;

    &.pager__item--previous,
    &.pager__item--next {
      display: block;

      a {
        display: block;
      }
    }
  }

  .pager__item--previous {
    margin-left: 12px;
    margin-right: 10px;

    a {
      color: #2a2b2b;

      span {
        display: none;
      }

      &::before {
        content: "\e90c";
        display: block;
        font-family: 'swhr-icons' !important;
        speak: none;
        font-style: normal;
        font-size: 52px;
        font-size: rem-calc(52px);
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    span.pager-link--disabled {
      color: #cacdce;
      display: block;

      &::before {
        content: "\e90c";
        display: block;
        font-family: 'swhr-icons' !important;
        speak: none;
        font-style: normal;
        font-size: 52px;
        font-size: rem-calc(52px);
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .pager__item--next {
    a {
      color: #2a2b2b;

      span {
        display: none;
      }

      &::after {
        content: "\e912";
        display: block;
        font-family: 'swhr-icons' !important;
        speak: none;
        font-style: normal;
        font-size: 52px;
        font-size: rem-calc(52px);
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    span.pager-link--disabled {
      color: #cacdce;
      display: block;

      &::after {
        content: "\e912";
        display: block;
        font-family: 'swhr-icons' !important;
        speak: none;
        font-style: normal;
        font-size: 52px;
        font-size: rem-calc(52px);
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

// Services Locator Form - mobile
@media all and (max-width: 780px) {
  .docfinder-form.full-search-form {
    .form-item-row1-str {
      flex-grow: 1;
      margin-right: 0;
      width: 100%;
    }

    .form-item-row1-zipcode {
      flex-grow: 1;
      margin-right: 16px;
    }

    .form-submit {
      margin-left: 0;
    }
  }

  #edit-row2-left-side-caretype,
  #caretype-wrapper {
    display: none;
  }

  .docfinder-form__reset {
    //max-width: 64px;
    width: 100%;
  }
}

//Font smoothing for map icons
.geolocation-common-map {
  @include font-aliasing();
}

// Mobile Overrides
//------------------------------
@media all and (max-width: 1140px) {
  .doc-finder__pager {
    font-size: 16px;
    font-size: rem-calc(16px);
    padding: 0 15px;
  }
}

.docfinder-form__mobile-toggle {
  display: none;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 64px;
  text-transform: uppercase;

  a {
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}

#caretype-mobile-wrapper {
  display: none;
  width: 100%;
}

@media all and (max-width: 871px) {
  .docfinder-form .form-item {
    margin-bottom: 15px;
  }

  .finder__list {
    height: auto;
    overflow: auto;
  }

  .docfinder-form__specialties {
    flex-grow: 1;

    #edit-row2-left-side-caretype {
      display: none;
    }
  }

  #caretype-mobile-wrapper {
    display: block;
  }

  .docfinder-form__mobile-toggle {
    display: -ms-flexbox;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    width: 64px;
  }

  .finder-window {
    display: block;
    height: auto;

    &.mobile-toggle {
      .finder__list {
        display: none;
      }

      .finder__map {
        display: block;
        position: static;
        visibility: visible;
        width: 100%;
      }
    }
  }

  .finder__list,
  .finder__map {
    width: 100%;
  }

  .finder__map {
    position: absolute;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    width: 99%;
    z-index: -1;

    &.empty {
      position: static;
      visibility: visible;
    }
  }

  .finder__list {
    .view {
      overflow: hidden;
    }
  }
}

.doc-finder-map .location-content .title {
  margin-bottom: 5px;
}
