<section class="full-width bg-lightblue">
  <div class="pad-40"></div>
  <div class="container flex-container">
    <div class="span12">
      <h3>Get the care you need, wherever you need it.</h3>
      <p>
        To take advantage of our ACO’s services, you’ll need a primary care physician participating in our network. If you already have a primary care physician (or need to find one), take a look at our website to see names of doctors that are in the network – as ACO Participating Physicians.
      </p>
      <p>
        Remember, the ACO is not a health plan. It doesn’t require you to stay in a plan or change your Medicare coverage. You can visit any physician or hospital that accepts your Medicare coverage, whenever you choose.
      </p>
    </div>
  </div>
  <div class="pad-40"></div>
  <div class="container flex-container">
    <div class="span6">
      <img src="kss-assets/man.png" alt="Man">
      <div class="pad-15--sm"></div>
    </div>
    <div class="span6">
      <blockquote>
        <span class="bq--quotation-mark bq--quotation-mark--left">“</span>We believe supporting the doctor-patient relationship is key to improving the quality of health care. This is key to how the Southwestern Health Resources Accountable Care Network ACO is working to make health care better.
        <span class="bq--quotation-mark bq--quotation-mark--right">”</span>
      </blockquote>
      <div class="signature">
        <strong>Mack Mitchell, M.D.</strong><br/>
        Chief Medical Officer, Southwestern Health Resources Accountable Care Network<br/><br/>
        Interim Executive Vice President for Health System Affairs, UT Southwestern Medical Center
      </div>
    </div>
    <div class="pad-40"></div>
    <div class="span6">
      <blockquote>
        <span class="bq--quotation-mark bq--quotation-mark--left">“</span>We believe supporting the doctor-patient relationship is key to improving the quality of health care. This is key to how the Southwestern Health Resources Accountable Care Network ACO is working to make health care better.
        <span class="bq--quotation-mark bq--quotation-mark--right">”</span>
      </blockquote>
      <div class="signature">
        <strong>Mack Mitchell, M.D.</strong><br/>
        Chief Medical Officer, Southwestern Health Resources Accountable Care Network<br/><br/>
        Interim Executive Vice President for Health System Affairs, UT Southwestern Medical Center
      </div>
    </div>
    <div class="span6">
      <div class="pad-15--sm"></div>
      <img src="kss-assets/man.png" alt="Man">
    </div>
  </div>
  <div class="pad-40"></div>
</section>
