<section class="full-width bg-lightblue">
  <div class="container flex-container">
    <div class="span12">
      <div class="pad-40"/>
      <h3 style="text-align:center;">Frequently asked questions</h3>
      <div class="pad-40"/>
    </div>
    <div class="span12">
      <div class="faq-container"> 
        {% include 'faq_item.twig' with { q: 'Does the ACO change Medicare benefits??', a: 'No. If your affiliated physician is part of the Next Generation ACO, your benefits don’t change. An ACO is not a Medicare Advantage Plan (an HMO, PPO or another type of managed care plan). Your health coverage, premiums, and insurance arrangements are not affected.' } %}
        {% include 'faq_item.twig' with { q: 'Does the ACO change Medicare benefits??', a: 'No. If your affiliated physician is part of the Next Generation ACO, your benefits don’t change. An ACO is not a Medicare Advantage Plan (an HMO, PPO or another type of managed care plan). Your health coverage, premiums, and insurance arrangements are not affected.' } %}
        {% include 'faq_item.twig' with { q: 'Does the ACO change Medicare benefits??', a: 'No. If your affiliated physician is part of the Next Generation ACO, your benefits don’t change. An ACO is not a Medicare Advantage Plan (an HMO, PPO or another type of managed care plan). Your health coverage, premiums, and insurance arrangements are not affected.' } %}
        {% include 'faq_item.twig' with { q: 'Does the ACO change Medicare benefits??', a: 'No. If your affiliated physician is part of the Next Generation ACO, your benefits don’t change. An ACO is not a Medicare Advantage Plan (an HMO, PPO or another type of managed care plan). Your health coverage, premiums, and insurance arrangements are not affected.' } %}
        {% include 'faq_item.twig' with { q: 'Does the ACO change Medicare benefits??', a: 'No. If your affiliated physician is part of the Next Generation ACO, your benefits don’t change. An ACO is not a Medicare Advantage Plan (an HMO, PPO or another type of managed care plan). Your health coverage, premiums, and insurance arrangements are not affected.' } %}
        {% include 'faq_item.twig' with { q: 'Does the ACO change Medicare benefits??', a: 'No. If your affiliated physician is part of the Next Generation ACO, your benefits don’t change. An ACO is not a Medicare Advantage Plan (an HMO, PPO or another type of managed care plan). Your health coverage, premiums, and insurance arrangements are not affected.' } %}
      </div>
    </div>
    <div class="pad-40"/>
  </div>
</section>