<section class="text-section">
  <div class="flex-container">
    <div class="span12">
      <h3>Providing everyone with every kind of care.</h3>
      <div class="pad-20"></div>
    </div>
    <div class="span6">
      <p>
        Our ultimate goal is helping doctors achieve the best possible results for patients. That’s why we have services designed specifically for Medicare patients. Our Accountable Care Network is one of largest and top in the United States. It delivers high quality care and the ability to achieve cost savings, making healthcare better for those with Medicare. 
      </p>
      <p>
        Because there are so many different health problems and medical needs, the ACO offers support physicians to manage conditions and improve overall health. Primary care physicians participating in the Southwestern Health Resources ACO provide guidance to support each patient’s health care needs.
      </p>
    </div>
    <div class="span6">
      <div class="pad-15--sm"></div>
      <img src="kss-assets/stock-runners.png" alt="Runners">
      <p>
        <br/><strong>What exactly is an ACO?</strong><br/><br/>
        Accountable Care Organizations (ACOs) are groups of doctors, hospitals, and other health care providers who come together voluntarily to help Medicare patients get the right care at the right time. This helps avoid unnecessary duplication of services and preventing medical errors.
      </p>
    </div>
  </div>
</section>