<section class="text-section">
  <div class="flex-container">
    <div class="span12">
      <div class="pad-40"/>
      <h3>Experts at keeping you healthy.</h3>
      <div class="pad-40"/>
    </div>
    <div class="span12">
      <div class="flex-container">
        <p>
          Want to know more about Southwestern Health Resources Medicare ACO? Here’s how it works for you. <br/><br/>
        </p>
        <div class="span6">
          <ul>
            <li>Provides access to a team of healthcare experts to help you keep healthier.</li>
            <li>Our leading primary care physicians (PCPs), specialists and hospitals are participating in the ACO.</li>
            <li>Both you and your physicians get extra support to manage health conditions</li>
            <li>Your current participating providers will be able to share information about your health to coordinate your care.</li>
          </ul>
        </div>
        <div class="span6">
          <ul>
            <li>Doctors receive additional support to make the best medical decisions.</li>
            <li>Participating doctors have access to your information via an electronic health record (also call an EMR).</li>
            <li>Fewer repeated medical tests are required because your doctors and hospitals will share information and coordinate your care.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pad-40"/>
</section>