<div class="span3 bg-gray pad-20-all">
  <h6>{{ title }}</h6>
</div>
<div class="span3 bg-lightblue pad-20-all">
  {{ cellOne | raw }}
</div>
<div class="span3 bg-lightblue pad-20-all">
  {{ cellTwo | raw }}
</div>
<div class="span3 bg-lightblue pad-20-all">
  {{ cellThree | raw }}
</div>
<div class="pad-15"></div>