<section style="text-align: center;">
  <h3>Talk to us.</h3>
  <div class="pad-40"/>
  <p>
    Contact Us About the Southwestern Health Resources Accountable Care Network ACO. If you have Original Medicare or a Supplement, find out more about the Southwestern Health Resources ACO at (including how you can take advantage of ACO services.)
  </p>
  <div class="pad-20"/>
  <div class="button-group">
    <a href="" class="button icon-before"><i class="swhrcon-chat"></i>Talk to us</a>
  </div>
  <div class="pad-80"/>
</section> 