<blockquote>
  <span class="bq--quotation-mark bq--quotation-mark--left">&ldquo;</span>The integrated network will benefit consumers and caregivers, without changing the relationship patients have with their physicians. What will change is that patients are going to experience better coordinated care and more access to specialty services and clinical trials.
    <span class="bq--quotation-mark bq--quotation-mark--right">&rdquo;</span>
</blockquote>