// Fact Box
//
// A box with a custom background and interior text
//
// Weight: 2
//
// Style guide: molecule.callout_box

.callout-box {
  height: 255px;
  width: 100%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 370px;
  overflow: hidden;

  &.green {
    background: $green;
    color: $white;
  }

  &.blue {
    background: $blue;
    color: $white;
  }

  &.light_grey {
    background: #eee;
  }

  &.dark_grey {
    @include dark();

    padding: 20px;
    max-width: 370px;
  }

  &.image {
    padding: 0;
  }

  .bg-copy {
    position: absolute;
    font-size: 7.75em;
    color: $white;
    opacity: 0.1;
    font-weight: 600;
  }

  p {
    color: $white;
    align-self: flex-start;
  }

  &.short-stat--image {
    align-items: flex-start;
    padding-left: 40px;
  }

  & > img {
    position: absolute;
    right: 23px;
  }
}

.callout-box__content {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.field--name-field-static-cards {
  .span4 {
    margin-bottom: 20px;
  }
}

.field--name-field-short-stat-number {
  font-size: 90px;
  font-size: rem-calc(90px);
  font-weight: 600;
  line-height: 1;
  margin-right: 13px;
}

.field--name-field-full-card-image {
  height: 100%;
  position: relative;
  width: 100%;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 255px;
    max-width: none;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.paragraph--type--static-cards .field__items {
  flex-wrap: wrap;
}

.field--name-field-static-card-set-header {
  //margin-bottom: 20px;
}

//Background Numbers
.field--name-field-background-number {
  position: absolute;
  left: 9px;
  color: #d6d6d6;
  font-size: 144px;
  font-size: rem-calc(144px);
  font-weight: 800;
  line-height: 1;
  z-index: 0;
}

.callout-box.light_grey {
  .field--name-field-background-number {
    color: #d6d6d6;
  }
}

@media screen and (max-width: 988px) {
  .paragraph--type--static-cards .container {
    max-width: 800px;
  }

  .callout-box {
    margin-top: 15px;

    .bg-copy {
      font-size: 6em;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

@media all and (max-width: 988px) and (min-width: 638px) {
  .field--name-field-static-cards {
    .span4 {
      width: span(6);
    }
  }
}

@media all and (max-width: 768px) {
  .field--name-field-full-card-image {
    img {
      width: 100%;
      height: auto;
      margin-left: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

@media all and (max-width: 637px) {
  .paragraph--type--static-cards .container {
    max-width: 371px;
  }

  .callout-box {
    height: 190px;
  }
}
