
//Swipe Animation for More Links
@keyframes swipe {
  0% {
    left: 0;
    width: 100%;
  }

  50% {
    left: 100%;
    width: 0%;
  }

  50.01% {
    left: 0;
    width: 0%;
  }

  75% {
    left: 0;
    width: 0%;
  }

  100% {
    width: 100%;
    left: 0;
  }
}
