///////////////////////////////
// Custom Padding Rules ///////
///////////////////////////////

.content-area > section,
.field__item > div > section,
.nodetype--section_landing .field__item > div > section, {
  padding: 40px 0;

  section.no-pad {
    padding-top: 0;
    padding-bottom: 0;
  }

  //Sections where content
  //is flush with edge of container
  &.location--section:last-child {
    padding: 0;
    margin-bottom: 0;
  }

  @media all and (max-width: $content-width + (2 * 20px)) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-bottom {
  & > section {
    padding: 40px;
  }
}

// Padding classes for CMS

.field__item > div,
.nodetype--section_landing .field__item > div {
  &.no-pad-top section {
    padding-top: 0;
  }

  &.half-pad-top section {
    padding-top: 20px;
  }

  &.no-pad-bottom section {
    padding-bottom: 0;
  }

  &.half-pad-bottom section {
    padding-bottom: 20px;
  }
}

// Custom padding

.pad-15 {
  @include padder-base();

  padding-top: 15px;
}

.pad-20 {
  @include padder-base();

  padding-top: 20px;
}

.pad-20-all {
  box-sizing: border-box;
  padding: 20px;
}

.pad-40 {
  @include padder-base();

  padding-top: 40px;
}

.pad-60 {
  @include padder-base();

  padding-top: 60px;
}

.pad-80 {
  @include padder-base();

  padding-top: 80px;
}

@media screen and (max-width: 1180px) {
  .mq-main {
    .breadcrumb {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .content-area > section,
  .field__item > div > section,
  .nodetype--section_landing .field__item > div > section, {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .paragraph--type--text-and-graphic.paragraph--view-mode--no-graphic {
    section {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // Padding classes for CMS
  .content-area,
  .field__item > div,
  .nodetype--section_landing .field__item > div {
    &.full-width--sm section {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    &.no-pad-top--sm section {
      padding-top: 0;
    }

    &.half-pad-top--sm section {
      padding-top: 25px;
    }

    &.no-pad-bottom--sm section {
      padding-bottom: 0;
    }

    &.half-pad-bottom--sm section {
      padding-bottom: 25px;
    }
  }

  // Custom padding - Mobile

  .pad-10--sm {
    @include padder-base();

    padding-top: 10px;
  }

  .pad-15--sm {
    @include padder-base();

    padding-top: 15px;
  }

  .pad-20--sm {
    @include padder-base();

    padding-top: 20px;
  }

  .pad-30--sm {
    @include padder-base();

    padding-top: 30px;
  }

  .pad-40--sm {
    @include padder-base();

    padding-top: 40px;
  }

  .pad-20--md,
  .pad-40--md,
  .pad-50--md {
    display: none;
  }

  // Component-specific cases

  .field__item > div.homepage-intro > section {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px + 1px) {
  .content-area,
  .field__item > div,
  .nodetype--section_landing .field__item > div {
    &.no-pad-top--md section {
      padding-top: 0;
    }

    &.half-pad-top--md section {
      padding-top: 20px;
    }

    &.no-pad-bottom--md section {
      padding-bottom: 0;
    }

    &.half-pad-bottom--md section {
      padding-bottom: 20px;
    }
  }

  // Custom padding - Desktop

  .pad-20--md {
    @include padder-base();

    padding-top: 20px;
  }

  .pad-40--md {
    @include padder-base();

    padding-top: 40px;
  }

  .pad-50--md {
    @include padder-base();

    padding-top: 50px;
  }

  .pad-10--sm,
  .pad-15--sm,
  .pad-20--sm,
  .pad-30--sm,
  .pad-40--sm {
    display: none;
  }

  // Component-specific cases

  .paragraph--type--image {
    img {
      margin-top: 5px;
    }
  }
}
