
.slick-slider {
  position: relative;

  .slick-arrow {
    background: none;
    border: none;
    color: $black;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    position: absolute;
    top: 15px;
    z-index: 1;

    &::before {
      display: block;
      font-family: 'swhr-icons' !important;
      speak: none;
      font-style: normal;
      font-size: 32px;
      font-size: 2rem;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }

    &.slick-prev {
      left: 0;

      &::before {
        content: "\e90c";
      }
    }

    &.slick-next {
      right: 0;

      &::before {
        content: "\e912";
      }
    }
  }
}
