
//Talk To Us
//Contact Popup with Form

//Contact Type Selector
.contact-type-wrapper {
  margin: 0;
  padding: 0;
}

.contact-type-selector {
  .js-webform-radios {
    display: none;
  }
}

.contact-type {
  @include font-aliasing();

  background-color: $light-blue3;
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: flex-end;
  padding: 40px;
  width: span(4);

  &.contact-type--employer {
    background-image: url('/themes/custom/swhr/images/talk-to-us/employer-unselected.png');

    &.selected {
      background-image: url('/themes/custom/swhr/images/talk-to-us/employer-selected.png');
    }

    @media all and (max-width: 768px) {
      &.selected {
        background-image: url('/themes/custom/swhr/images/talk-to-us/employer-selected-mobile-768.png');
      }
    }
  }

  &.contact-type--patient {
    background-image: url('/themes/custom/swhr/images/talk-to-us/patient-unselected.png');

    &.selected {
      background-image: url('/themes/custom/swhr/images/talk-to-us/patient-selected.png');
    }

    @media all and (max-width: 768px) {
      &.selected {
        background-image: url('/themes/custom/swhr/images/talk-to-us/patient-selected-mobile-768.png');
      }
    }
  }

  &.contact-type--doctor {
    background-image: url('/themes/custom/swhr/images/talk-to-us/doctor-unselected.png');

    &.selected {
      background-image: url('/themes/custom/swhr/images/talk-to-us/doctor-selected.png');
    }

    @media all and (max-width: 768px) {
      &.selected {
        background-image: url('/themes/custom/swhr/images/talk-to-us/doctor-selected-mobile-768.png');
      }
    }
  }

  h4 {
    font-family: $muli;
    font-size: 60px;
    font-size: rem-calc(60px);
    font-weight: 700;
    padding: 0;
    transition-timing-function: ease-in;
    transition-property: all;
    transition-duration: 0.4s;

    span {
      display: block;
      font-family: $adamina;
      font-size: 20px;
      font-size: rem-calc(20px);
      font-weight: normal;
      line-height: 1;
    }
  }

  &:hover,
  &.selected {
    cursor: pointer;

    h4 {
      transition-timing-function: ease-out;
      transition-property: all;
      transition-duration: 0.4s;
      transform: translateY(-60px);
    }
  }
}

//Form
.form--talk-to-us {
  .form-item {
    width: span(6);

    &.textarea {
      width: 100%;

      textarea {
        resize: none;
      }
    }
  }
}

.form--talk-to-us__submit {
  margin-bottom: 31px;
  justify-content: flex-end;

  input[type="submit"] {
    display: inline-block !important;
    flex-grow: 0.25;
  }
}

//div[id^="edit-contact-form-intro"] {
//  display: none;
//}

form .form--talk-to-us__footer {
  border-top: solid 1px $border-gray;
  font-size: 21px;
  font-size: rem-calc(21px);
  font-weight: 700;
  padding-top: 27px;
}

//Form submit
.talk-to-us-form-wrapper {
  input[type="submit"] {
    border: solid 1px $button-primary-bkgrnd !important;
    padding: 23px 20px !important;
    height: auto !important;
    width: 100% !important;
  }
}

.form--talk-to-us__submit {
  text-align: right;
}

@media all and (min-width: 768px + 1px) {
  .contact-type-selector {
    .tiles {
      @include flex-container();

      margin-bottom: 60px;
    }
  }
}

@media all and (min-width: 861px) {
  .form--talk-to-us__submit input {
    max-width: 367px;
  }
}

//Responsive
@media all and (max-width: 1130px) {
  .contact-type {
    h4 {
      font-size: 48px;
      font-size: rem-calc(48px);
    }
  }
}

@media all and (max-width: 965px) {
  .contact-type {
    h4 {
      font-size: 32px;
      font-size: rem-calc(32px);
    }
  }
}

@media all and (max-width: 768px) {
  .talk-to-us-form-wrapper > form {
    & > fieldset {
      min-width: auto;
    }
  }

  .contact-type-selector {
    display: block;
    margin-bottom: 0;

    .slick-slider .slick-arrow {
      color: $white;
      top: 60px;
    }
  }

  .contact-type {
    height: 200px;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto 20px;
    width: 100%;

    &:hover,
    &.selected {
      h4 {
        transform: none;
      }
    }

    h4 {
      font-size: 32px;
      font-size: rem-calc(32px);
      padding-left: 1.25em;
      padding-top: 0.75em;
    }
  }

  .form--talk-to-us__submit {
    input[type="submit"] {
      flex-grow: 1;
    }
  }
}

@media all and (max-width: 660px) {
  .form--talk-to-us {
    .form-item {
      width: 100%;
    }
  }
}
