
//Default Content List
.content-list {
  label {
    color: $black;
    font-weight: 600;

    &:hover {
      cursor: default;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
  }
}

//As it appears in primary content

//As it Appears in a sidebar
.sidebar {
  .content-list {
    position: relative;
    padding-left: 40px;

    i {
      font-size: 29px;
      font-size: rem-calc(29px);
      line-height: 1;
      left: 0;
      position: absolute;
    }
  }
}
