<div class="home-nav">
  <video class="my-background-video jquery-background-video" autoplay muted loop src="kss-assets/homepage-video.mp4">
  </video>
  <div class="overlay--darken">
    <div class="masthead-main" style="display: none;">
      <div class="container flex-container">
        <div class="content">
          <h1>
            <span>I&rsquo;m a</span>
            Doctor
          </h1>
        </div>
      </div>
    </div>
    <div class="nav-items">
      <div class="nav-item">
        <a href="">
          <h5><span>I&rsquo;m a</span><span class="nav-text--large">Doctor</span></h5>
          <p>See how we can further
            <br> your career<span class="read-more"></span></p>
        </a>
      </div>
      <div class="nav-item">
        <a href="">
          <h5><span>Our</span><span class="nav-text--large">Story</h5>
          <p>Discover why we are the
            <br> partner you need<span class="read-more"></span></p>
        </a>
      </div>
      <div class="nav-item">
        <a href="">
          <h5><span>I&rsquo;m a</span><span class="nav-text--large">Patient</span></h5>
          <p>Find out how we can help you
            <br> and your family<span class="read-more"></span></p>
        </a>
      </div>
      <div class="nav-item">
        <a href="">
          <h5><span>I&rsquo;m an</span><span class="nav-text--large">Employer</span></h5>
          <p>Learn how we can help
            <br> your business<span class="read-more"></span></p>
        </a>
      </div>
    </div>
  </div>
</div>