{#<section class="bg-lightblue full-width">#}
  {#<div class="container">#}
    {#<h3>Partnering with employers to offer great health benefits, not less care.</h3>#}
    {#<p>Working with us means we can get directly involved with your employees to coordinate the best possible care. And while there are similar programs (HMOs) that force employees into narrower networks to save cost, we aim to combat that association or assumption but designing a network that improves your employees' health and productivity all while reducing costs.</p>#}
    {#<img src="kss-assets/SWHR_Employer_BlueNarrowNetwork.png" alt="">#}
  {#</div>#}
  {#<div class="container icon-bar">#}
    {#<div class="icon-callout">#}
      {#<h2 class="small">Broad Network healthcare is not efficient</h2>#}
      {#<p>Lack of coordination and support means more employees spend time and money.</p>#}
    {#</div>#}
    {#<div class="icon-callout">#}
      {#<h2 class="small">We coordinate care so patients are directed to high performing physicians within our network</h2>#}
      {#<p>We understand that employee retention and attraction are important to your business, so we help reduce disruption and get employees to the right care.</p>#}
    {#</div>#}
    {#<div class="icon-callout">#}
      {#<h2 class="small">Save costs with efficient, high quality care.</h2>#}
      {#<p>As part of the Accountable Care Organization, our doctors and hospitals work together to provide Medicare patients with the high-quality care they deserve.#}
      {#</p>#}
      {#<ul>#}
        {#<li>Coordinate Care Effectively</li>#}
        {#<li>Implement Efficiencies</li>#}
        {#<li>Achieve Quality</li>#}
      {#</ul>#}
    {#</div>#}
  {#</div>#}
{#</section>#}
<div class="field__item"><div class="bg-lightblue paragraph paragraph--type--text-and-graphic paragraph--view-mode--no-graphic">
    <section class="text-section">
      <div class="flex-container">
        <div class="span12">
          <h3>
            <div class="field field--name-field-tag-headline field--type-string field--label-hidden field__item">Partnering with employers to offer great health benefits, not less care.</div>
          </h3>

          <div class="field field--name-field-tag-text field--type-text-long field--label-hidden field__item"><p>Working with us means we can get directly involved with your employees to coordinate the best possible care. And while there are similar programs (HMOs) that force employees into narrower networks to save cost, we aim to combat that association or assumption but designing a network that improves your employees’ health and productivity all while reducing costs.</p></div>

        </div>
      </div>
    </section>
  </div>
</div>
<div class="field__item"><div class="bg-lightblue paragraph paragraph--type--text-and-graphic paragraph--view-mode--big-graphic">
    <section class="text-section">
      <div class="flex-container">
        <div style="text-align: center;">

          <div class="field field--name-field-tag-image field--type-entity-reference field--label-hidden field__item">  <div class="image-set">
              <img src="/sites/default/files/2017-12/SWHR_Employer_BlueNarrowNetwork.png" width="1185" height="489" alt="Employer Network (desktop)" typeof="foaf:Image">



            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
<div class="field__item">
  <div class="bg-lightblue paragraph paragraph--type--icon-bar paragraph--view-mode--default icon-bar">
    <section>
      <section>
        <div class="bg-lightblue paragraph paragraph--type--icon-bar paragraph--view-mode--default icon-bar icon-bar--links">


          <div class="icon-callout">
            <h2 class="small">
              Broad Network Healthcare is not efficient
            </h2>
            <p>Lack of coordination and support means more employees spend time and money.</p>

          </div>
          <div class="icon-callout">
            <h2 class="small">
              We coordinate care so patients are directed to high performing physicians within our network
            </h2>
            <p>We understand that employee retention and attraction are important to your business so we help reduce disruption and get employees to the right care.</p>

          </div>
          <div class="icon-callout">
            <h2 class="small">
              Save costs with efficient, high quality care.
            </h2>
            <p>Your employees receive the right proceedure, not multiple proecedures.</p>

            <ul><li>Coordinate Care Effectively</li>
              <li>Implement Efficiencies</li>
              <li>Achieve Quality</li>
            </ul>

          </div>

        </div>
      </section>
    </section>
  </div>
</div>

