<section class="text-section">
  <div class="flex-container">
    <div class="span9">
      <h3>The greatest reason for our coming together? Helping people like you</h3>
      <p>When UT Southwestern Medical Center and Texas Health Resources joined forces, excellent care and quality at an improved cost and value weren’t the only motivating factors.
        <a href=""><span class="underline"></span>It was you.</a> Especially knowing we could provide comprehensive, cost-effective treatment, from preventative care to the most advanced treatments available for complex health needs.</p>
    </div>
    <div class="span3" style="text-align: center;"><img src="kss-assets/real_badge.png" alt="Best Regional Hospitals"></div>
  </div>
</section>