<section class="text-section">
  <div class="flex-container">
    <div class="span3">
      <h3>Where care and collaboration come together.</h3>
      <p>When UT Southwestern Medical Center and Texas Health Resources joined forces, excellent care and quality at an improved cost and value weren’t the only motivating factors.
        <a href=""><span class="underline"></span>It was you.</a> Especially knowing we could provide comprehensive, cost-effective treatment, from preventative care to the most advanced treatments available for complex health needs.</p>
    </div>
    <div class="span9" style="text-align: center;"><img src="kss-assets/venn-diagram.png" alt="Venn Diagram"></div>
  </div>
</section>