<section>
  <div class="flex-container">
    <div class="span9">
      <h5>Get in touch to start saving costs while providing better care.</h5>
    </div>
    <div class="span3">
      <a href="" class="button icon-before"><i class="swhrcon-chat"></i>Talk to us</a>
    </div>
  </div>
</section>