<section>
  <div class="flex-container">
    <div class="span9">
      <h3>
        Give employees better care at a better price
      </h3>
      <p>Our network is designed to improve your employee's health and productivity while reducing costs per employee, per year. Let's work together to help you see success and increase profitability.</p>
    </div>
  </div>
</section>