{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if message %}
    <div class="confirmation-wrapper flex-container">
      <div class="webform-confirmation__message">
        <div class="message-content">
          {{ message }}
        </div>
      </div>
      <div class="image" style="background-image: url('/themes/custom/swhr/images/thank-you.png')">
      </div>
    </div>
  {% endif %}

</div>
