<section>
  <h3 style="text-align: center;">We make our network work for you.</h3>
  <div class="fact-accordion" style="background-image: url('kss-assets/doctor-landing-accordion.png')">
    <div class="overlay">
      <div class="fact">
        <span class="expand-button"></span>
        <div class="title">
          <h2>High Performing Network</h2>
        </div>
        <div class="content">
          <p>Our high performance network means that your medical records are seamlessly transferred from provider to provider. That means less time tilling out forms and more time getting the quality care you need, when you need it.</p>
        </div>
      </div>
      <div class="fact">
        <span class="expand-button"></span>
        <div class="title">
          <h2>Managing Total Cost of Care</h2>
        </div>
        <div class="content">
          <p>Our high performance network means that your medical records are seamlessly transferred from provider to provider. That means less time tilling out forms and more time getting the quality care you need, when you need it.</p>
        </div>
      </div>
      <div class="fact">
        <span class="expand-button"></span>
        <div class="title">
          <h2>Innovative Employer Solutions</h2>
        </div>
        <div class="content">
          <p>Our high performance network means that your medical records are seamlessly transferred from provider to provider. That means less time tilling out forms and more time getting the quality care you need, when you need it.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="text-align: center;">
  <h3>Let's work together to make healthcare better.</h3>
  <p>Contact us today to learn more about our network.</p>
  <div class="button-group">
    <a href="" class="button icon-before"><i class="swhrcon-chat"></i>Talk to us</a>
  </div>
</section>