<section>
  <h3>Meet Southwestern Health's Senior Executives</h3>
</section>
<section>
  <div class="fact-box-container">
    {% include 'fact_item.twig' with { orientation: 'left', bg_image: 'kss-assets/info-card-green.png', bg_image_expanded: 'kss-assets/info-card-blue.png', content_image: 'kss-assets/texas_health_logo.png', headline: 'Get to Know', content_modifier_class: '--centered', content: 'Texas Health Resources is one of the largest faith-based, non-profit network of hospitals and health facilities in the United States. Our tremendous reach provides access to thousands of healthcare facilities across Texas. So regardless of your needs, we have the breadth of services to cover them.' } %}
    {% include 'fact_item.twig' with { orientation: 'right', bg_image: 'kss-assets/info-card-blue.png', bg_image_expanded: 'kss-assets/info-card-green.png', content_image: 'kss-assets/texas_health_logo.png', headline: 'Get to Know', content_modifier_class: '--centered', content: 'Texas Health Resources is one of the largest faith-based, non-profit network of hospitals and health facilities in the United States. Our tremendous reach provides access to thousands of healthcare facilities across Texas. So regardless of your needs, we have the breadth of services to cover them.' } %}
  </div>
</section>
<section>
  <h3>Meet our Senior Executive Officers</h3>
</section>
<section>
  <div class="fact-box-container">
    {% include 'fact_item.twig' with { orientation: 'left', bg_image: 'kss-assets/info-card-green.png', bg_image_expanded: 'kss-assets/info-card-blue.png', content_image: 'kss-assets/texas_health_logo.png', headline: 'Get to Know', content_modifier_class: '', content: 'Texas Health Resources is one of the largest faith-based, non-profit network of hospitals and health facilities in the United States. Our tremendous reach provides access to thousands of healthcare facilities across Texas. So regardless of your needs, we have the breadth of services to cover them.' } %}
    {% include 'fact_item.twig' with { orientation: 'right', bg_image: 'kss-assets/info-card-blue.png', bg_image_expanded: 'kss-assets/info-card-green.png', content_image: 'kss-assets/texas_health_logo.png', headline: 'Get to Know', content_modifier_class: '', content: 'Texas Health Resources is one of the largest faith-based, non-profit network of hospitals and health facilities in the United States. Our tremendous reach provides access to thousands of healthcare facilities across Texas. So regardless of your needs, we have the breadth of services to cover them.' } %}
  </div>
  <div class="fact-box-container">
    {% include 'fact_item.twig' with { orientation: 'left', bg_image: 'kss-assets/info-card-green.png', bg_image_expanded: 'kss-assets/info-card-blue.png', content_image: 'kss-assets/texas_health_logo.png', headline: 'Get to Know', content_modifier_class: '', content: 'Texas Health Resources is one of the largest faith-based, non-profit network of hospitals and health facilities in the United States. Our tremendous reach provides access to thousands of healthcare facilities across Texas. So regardless of your needs, we have the breadth of services to cover them.' } %}
    {% include 'fact_item.twig' with { orientation: 'right', bg_image: 'kss-assets/info-card-blue.png', bg_image_expanded: 'kss-assets/info-card-green.png', content_image: 'kss-assets/texas_health_logo.png', headline: 'Get to Know', content_modifier_class: '', content: 'Texas Health Resources is one of the largest faith-based, non-profit network of hospitals and health facilities in the United States. Our tremendous reach provides access to thousands of healthcare facilities across Texas. So regardless of your needs, we have the breadth of services to cover them.' } %}
  </div>
</section>