
$hamburger-height: 22px;
$hamburger-width: 27px;

@media all and (min-width: 761px) {
  .mobile-hamburger {
    display: none;
  }
}

.mobile-hamburger {
  position: relative;
  width: $hamburger-width;
  //height: $hamburger-height;
  height: 55px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  //transition: all 600ms ease;

  button {
    cursor: pointer;
    width: $hamburger-width;
    padding: 0;
    height: 2px;
    background: black;
    box-shadow: 0 0 0 transparent;
    border: 0 transparent;
    text-indent: -999px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    -webkit-appearance: none;
    line-height: 0;
    transition-property: none;
    border-radius: 99px;

    &:active,
    &:focus {
      outline: 0;
      border: 0;
    }

    &::after,
    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      background: black;
      width: 100%;
      border-radius: 99px;
    }

    &::after {
      top: -10px;
    }

    &::before {
      bottom: -10px;
      left: auto;
      right: 0;
    }
  }

  &.active {
    transform: rotate(360deg);

    button {
      background: transparent;

      &::after {
        top: 0;
        transform: rotate(-135deg) translate(0, 0) scale(1.2, 1.2);
      }

      &::before {
        bottom: 0;
        transform: rotate(135deg) translate(0, 0) scale(1.2, 1.2);
      }
    }
  }
}
