<section class="main">
  <div>ACO Designated Preferred Doctor</div>
  <p>Carlos Bagley, M.D. is a complex spine surgery specialist in Dallas. Dr. Bagley believes in being a constant learner. “The more you do of something, the better you’re going to be at it,” he says.</p>
  <p>This unflagging devotion to improving his craft is what allows Dr. Bagley, the Director of UT Southwestern’s multidisciplinary Spine Center, to master minimally invasive techniques and perform complex spine surgeries that many would deem undoable of more personalized, precise medicine.</p>
  <div class="content-list">
    <label>Clinical Areas of Expertise</label>
    <ul>
      <li>Neurological Surgery</li>
      <li>Orthopaedic Surgery</li>
    </ul>
  </div>
  <div class="list-group">
    <div class="content-list">
      <label>Medical School</label>
      <ul>
        <li>Duke University School of Medicine (2000)</li>
      </ul>
    </div>
    <div class="content-list">
      <label>Internship</label>
      <ul>
        <li>John Hopkins Hospital, General Surgery (2001)</li>
      </ul>
    </div>
    <div class="content-list">
      <label>Residency</label>
      <ul>
        <li>Johns Hopkins Hospital, Spine Surgery (2006)</li>
        <li>Johns Hopkins Hospital, Neurological Surgery (2007)</li>
      </ul>
    </div>
    <div class="content-list">
      <label>Fellowship</label>
      <ul>
        <li>Massachusetts General Hospital</li>
        <li>Neuroscience Translational Medicine Fellowship (2003)</li>
      </ul>
    </div>
  </div>
</section>