<section class="doctor-list">
  <h3>Spine Surgery Team</h3>
  <ul>
    <li><a class="active" href="">Carla Bagely, M.D.</a></li>
    <li><a href="">Kevin Gill, M.D.</a></li>
    <li><a href="">Wayne Gluf, M.D.</a></li>
    <li><a href="">Mohammed Khaleel, M.D.</a></li>
    <li><a href="">Kevin Morrill, M.D.</a></li>
    <li><a href="">Bryan Wohlfeld, M.D.</a></li>
  </ul>
</section>