<section class="sidebar">
  <div class="location--small">
    <label>Multidisciplinary Spine Clinic</label>
    <address>
      5303 Harry Hines Blvd.<br>
      6th Floor, #108<br>
      Dallas, Texas 75390<br>
      <div class="phone-number" itemprop="telephone"><a href="tel:+2146452225">(214) 645-2225</a></div>
    </address>
  </div>
  <div class="content-list">
    <i class="swhrcon-awards"></i>
    <label>Honors & Awards</label>
    <ul>
      <li>Silver Jubilee Oration Award</li>
      <li>All India Institute of Medical Sciences (2003)</li>
    </ul>
  </div>
  <div class="content-list">
    <i class="swhrcon-associations"></i>
    <label>Professional Associations & Affiliations</label>
    <ul>
      <li>American Diabetes Association</li>
      <li>American Federation of Medical Research</li>
      <li>American Heart Association</li>
      <li>American Society of Clinical Investigation</li>
    </ul>
  </div>
</section>