<section class="location--section">
  <div class="container flex-container">
    <div class="span8 location--section__right">
      <h2>
        Multidisciplinary Spine Clinic
      </h2>
      <address>
        5303 Harry Hines Blvd.<br>
        6th Floor, #108<br>
        Dallas, Texas 75390<br>
        <div class="phone-number" itemprop="telephone"><a href="tel:+2146452225">(214) 645-2225</a></div>
      </address>
      <div class="button-group">
        <a href="" class="button--tertiary">Schedule Appointment</a><a href="" class="button--tertiary">Directions</a>
      </div>
    </div>
    <div class="span4">
      <div class="node-map" id="doctor-map"></div>
    </div>
  </div>
</section>