// FAQ
//
// A faq container with expandable items
//
// Weight: 2
//
// Style guide: molecule.faq

.paragraph--type--faq {
  h3 {
    padding: 20px 0 40px;
  }

  &.header-small {
    h3 {
      font-size: 21px;
      font-size: rem-calc(21px);
    }
  }
}

.faq-container {
  .faq-item {
    border-top: 1px solid $border-dark-gray;
    padding: 30px 30px 30px 0;
    position: relative;

    .expand-button {
      position: absolute;
      right: 0;
      top: 30px;
      width: 22px;
      height: 22px;
    }

    .faq__answer {
      display: none;
    }

    p {
      padding-right: 60px;
    }

    &:first-child {
      border: 0;
      padding-top: 0;

      .expand-button {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .paragraph--type--faq {
    h3 {
      padding: 0 0 20px;
    }
  }

  .faq-container {
    .faq-item {
      p {
        padding-right: 0;
      }
    }
  }
}
