
//Button width, specific to homepage button group
$button-width: 291px;

.button-group {
  @extend .flex-container;

  justify-content: center;
  text-align: center;

  .button {
    box-sizing: border-box;
    display: block;
    width: $button-width;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &--light {
    .button--secondary:link,
    .button--secondary:visited,
    a.button--secondary:link,
    a.button--secondary:visited {
      border-color: $white;
      color: $white;

      &:link,
      &:visited {
        color: $white;
      }

      &:hover {
        background: $white;
        border-color: $white;
        color: $black;
      }
    }
  }
}

//Button Group Responsive
@media all and (max-width: 678px) {
  .button-group {
    display: block;

    .button {
      margin: 0 auto 20px;
      width: 100%;

      &:first-child {
        margin: 0 auto 20px;
      }
    }
  }
}
