<div class="col col1">
  {{ contact_footer }}
</div>
<div class="col col2">
  {{ page.footer.footer_menu }}
</div>
<div class="col col3">
  {{ page.footer.footer_secondary_menu }}
</div>
<div class="col col4">
  <a href="https://www.texashealth.org/" target="_blank"><img src="/themes/custom/swhr/images/logo_thr.png" alt="Texas Health Resources" typeof="foaf:Image"></a>
  <a href="http://www.utsouthwestern.edu/" target="_blank"><img src="/themes/custom/swhr/images/logo_utsw_mc.png" alt="UT Southwestern Medical Center" typeof="foaf:Image"></a>
  <a href="" class="button--tertiary--alt">Intranet Login</a>
</div>