
$callout-width: 334px;

#footer {
  background: $footer-background-color;
  color: #000;
  font-size: 14px;
  font-size: rem-calc(14px);
  line-height: 1.4;
  padding: 40px 0 80px;
}

.mq-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $content-width;

  ul li {
    margin: 0 0 5px;

    a {
      color: $black;
      font-weight: 600;

      &::before {
        height: 0;
      }

      &:hover::before {
        height: 1px;
      }
    }
  }

  //Talk to us button
  .col1 {
    width: $callout-width;
  }

  //Footer Menu/Privacy policy
  .col2 {
    margin-left: 22px;
    width: 15%;

    @media all and (min-width: 879px) {
      .menu-item--for-patients,
      .menu-item--find-a-doctor,
      .menu-item--our-leadership-team {
        margin-bottom: 20px;
      }
    }
  }

  // Resources Links
  .col3 {
    border-left: solid 1px $dark-gray;
    padding: 0 50px;
    width: 19%;

    .menu-item--texas-health-resources,
    .menu-item--ut-southwestern-medical-center,
    .menu-item--your-patient-portal {
      .underline-link--hidden::before {
        content: normal;
        height: 0;
      }
    }

    section {
      margin-bottom: 17px;

      & > div {
        margin-bottom: 5px;
      }
    }

    .menu-col--1 {
      margin-bottom: 30px;
    }
  }

  // Logos
  .col4 {
    width: 20%;
    border-left: solid 1px $dark-gray;
    text-align: right;

    .button {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-weight: 900;
      width: 100%;
    }

    .button--tertiary--alt {
      display: none;
    }

    a {
      display: inline-block;
      margin: 20px 0;

      img {
        width: 80%;
      }
    }
  }

  ul {
    @extend .no-ul-list;
  }
}

.talk-to-us-callout {
  margin: 0;
  max-width: $callout-width;
  text-align: center;

  a {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    height: 177px;
    justify-content: center;
    padding: 20px 32px;
  }

  div {
    display: inline-block;
    font-weight: 900;
    height: 29px;
    line-height: 29px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;

    i {
      font-size: 29px;
      left: 0;
      position: absolute;
    }
  }

  h3 {
    font-family: $muli;
    font-size: 1rem;
    font-size: 16px;
    font-weight: 700;
  }

  p {
    line-height: 1.4;
    font-weight: normal;
    text-transform: none;
    width: 100%;
  }
}

@media all and (max-width: 1014px) {
  .mq-footer {
    .col1 {
      width: 25%;
    }

    .col4 {
      width: 20%;
    }
  }
}

@media all and (max-width: 878px) {
  //Width Reset
  .mq-footer {
    display: block;
    padding: 22px;

    .col1,
    .col2,
    .col3,
    .col4 {
      margin-bottom: 28px;
      width: 100%;
    }
  }

  .talk-to-us-callout {
    max-width: none;
    width: 100%;
  }

  .mq-footer .col2,
  .mq-footer .col3 {
    border-left: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

    .primary-menu,
    .primary-external-links,
    .menu-col--1 {
      width: span(5);
    }

    .secondary-menu,
    .secondary-external-links,
    .menu-col--2 {
      width: span(6);
    }
  }

  .mq-footer .col4 {
    border-left: none;
  }
}

@media all and (max-width: 768px) {
  #footer {
    padding-top: 20px;
    margin-top: 20px;
  }

  .mq-footer .col2,
  .mq-footer .col3 {
    border-bottom: 1px solid $border-dark-gray;
    margin-bottom: 28px;

    ul {
      margin-bottom: 20px;
    }
  }

  .mq-footer .col4 {
    text-align: center;

    a {
      img {
        width: 60%;
      }
    }
  }

  .mq-footer ul li:last-child {
    margin-top: 20px;
  }
}
