<section class="icon-bar">
  <div class="icon-callout">
    <img src="kss-assets/icons/heart.png" alt="Highly Decorated">
    <h2 class="small">Highly Decorated</h2>
    <p>Awarded 6 Nobel Laureates</p>
  </div>
  <div class="icon-callout">
    <img src="kss-assets/icons/clipboard.png" alt="Quality Driven">
    <h2 class="small">Quality Driven</h2>
    <p>22 Members of National
      Academy of Sciences</p>
  </div>
  <div class="icon-callout">
    <img src="kss-assets/icons/building.png" alt="Medicinal Excellence">
    <h2 class="small">Medicinal Excellence</h2>
    <p>18 members of National Academy
      of Medicine</p>
  </div>
</section>