<section class="icon-bar--links">
  <div class="icon-callout">
    <img src="kss-assets/clinic.png" alt="Highly Decorated">
    <h2 class="small">Comprehensive Care</h2>
    <p>Our organization allows us to put our best resources into technology, education and research in order to provide North Texas with the best possible care.</p>
    <span class="underline-link">
      <a href="" class="more-link">See More</a>
    </span>
  </div>
  <div class="icon-callout">
    <img src="kss-assets/icons/health_network.png" alt="Quality Driven">
    <h2 class="small">Behavioral Health Care</h2>
    <p>By carefully using our resources to identify new medical trends, we’re able to respond to the ever changing healthcare industry quickly and efficiently.</p>
    <span class="underline-link">
      <a href="" class="more-link">See More</a>
    </span>
  </div>
  <div class="icon-callout">
    <img src="kss-assets/icons/aco_performance.png" alt="Medicinal Excellence">
    <h2 class="small">ACO Performance</h2>
    <p>As part of the Accountable Care Organization, our doctors and hospitals work together to provide Medicare patients with the high-quality care they deserve.
    </p>
    <span class="underline-link">
      <a href="" class="more-link">See More</a>
    </span>
  </div>

</section>