<section id="map-section" class="map-section dark">
  <div class="map-section__bkgrnd parallax-container">
    <div class="map-section__bkgrnd--right parallax">
      <img src="kss-assets/Stats_Map_Bg.png" alt="">
    </div>
  </div>
  <div class="container flex-container">
    <div class="map-section--left">
      <h3>We&rsquo;ve got you covered.</h3>
      <p>Whether you're relocating, looking for specialty care or just seeing who is
        in your neighborhood, we've got quality care close to home.</p>
      <form action="">
        <input class="form-item--specialty-doctor" type="text" placeholder="Search for Doctor or Facility">
        <input class="form-item--zip-code" type="text" placeholder="Zip Code">
        <button class="search"><i class="swhrcon-search"></i></button>
      </form>
      <h6>More specific care, coverage, and clinics at your fingertips</h6>
    </div>
    <div class="map-section--right">
      <div class="stat">
        <div class="stat__number--blue">3000+</div>
        <div class="stat__label">Doctors</div>
      </div>
      <div class="stat">
        <div class="stat__number--green">31</div>
        <div class="stat__label">Hospital Locations</div>
      </div>
      <div class="stat">
        <div class="stat__number--light-green">650+</div>
        <div class="stat__label">Outpatient facilities, clinics, and more</div>
      </div>
    </div>
  </div>
</section>