

.medical-staff .content-area {
  padding-top: 0;
}

.medical-staff .main {
  font-size: 21px;
  font-size: rem-calc(21px);
  line-height: 1.4;
}

.content-area > section.medical-staff__links {
  padding-bottom: 0;
  padding-top: 16px;
}

.medical-staff__specialties {
  margin-bottom: 32px;

  ul {
    margin-bottom: 36px;
  }
}

.medical-staff__experience {
  .content-list {
    margin-bottom: 28px;
  }
}

.medical-staff__links + .sidebar-right .sidebar {
  .view-content > div {
    &:not(.views-row-last) {
      margin-bottom: 20px;
    }

    & > div {
      margin-bottom: 2px;

      a > div {
        margin-top: 2px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .nodetype--medical_staff #footer {
    margin-top: 0;
  }
}

