

.pop-health-services__list {
  .field--name-field-text-area {
    ul li {
      margin-bottom: 35px;
    }
  }
}

@media all and (max-width: 767px) {
  .pop-health-services__list {
    .field--name-field-left-content,
    .field--name-field-right-content {
      margin: 0;
    }

    .field--name-field-text-area {
      ul {
        margin-bottom: 0;

        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.pop-health-static-cards {
  & > section {
    padding-top: 20px !important;
  }

  & > section > .pad-40:first-child {
    display: none;
    padding: 0;
  }
}
